server:
  port: 2823
  # public URL of the server (optional)
  main_url: ""
  # used for internal signing / sessions
  secret_key: ""

api:
  request_timeout: 30 # in seconds
  # add api keys here which you like to use
  keys:
    active: []
    disabled: []
  innertube:
    key: ""
  # google oauth - https://console.developers.google.com/apis/credentials
  oauth:
    client_id: ""
    client_secret: ""
    redirect_uri: null

video:
  source: "direct"
  use_cookies: true
  default_quality: "360"
  available_qualities: [144, 240, 360, 480, 720, 1080, 1440, 2160]
  default_count: 50

proxy:
  thumbnails:
    video: true
    channel: false
    fetch_channel_thumbnails: false
  video_proxy: true

cache:
  temp_folder_max_size_mb: 5120
  cleanup_threshold_mb: 100

instances:
  - "https://yt.legacyprojects.ru"
  - "https://yt.modyleprojects.ru"
  - "https://ytcloud.meetlook.ru"
