server:
  port: 2823
  mainurl: "http://localhost:2823/" #main url of the server
  secretkey: "test" # secret key for encrypting and decrypting
  frontend_url: "http://localhost:3000" # soon will be removed

api:
  api_keys:
    - "add api keys here which you like to use"
  oauth_client_id: "" # google oauth client id - go to https://console.developers.google.com/apis/credentials
  oauth_client_secret: "" # google oauth client secret - go to https://console.developers.google.com/apis/credentials
  request_timeout: 30

video:
  default_quality: "360"
  available_qualities:
    - "144"
    - "240"
    - "360"
    - "480"
    - "720"
    - "1080"
    - "1440"
    - "2160"
  video_source: "direct"
  use_cookies: true
  default_count: 50

proxy:
  use_thumbnail_proxy: true
  use_channel_thumbnail_proxy: false
  use_video_proxy: true
  fetch_channel_thumbnails: false

cache:
  temp_folder_max_size_mb: 5120
  cache_cleanup_threshold_mb: 100

instants:
  - url: "https://yt.legacyprojects.ru"
  - url: "https://yt.medyleprojects.ru"
  - url: "https://ytcloud.meetlook.ru"