{
    "api_key": "apikey",
    "available_qualities": ["144", "240", "360", "480", "720", "1080", "1440", "2160"],
    "default_quality": "360",
    "fetch_channel_thumbnails": false,
    "mainurl": "https://yt.legacyprojects.ru/",
    "oauth_client_id": "oauth_client_id",
    "oauth_client_secret": "oauth_client_secret",
    "request_timeout": 30,
    "secretkey": "test",
    "use_channel_thumbnail_proxy": false,
    "use_cookies": true,
    "use_thumbnail_proxy": true,
    "use_video_proxy": true,
    "video_source": "direct"
}