<div id="yt-masthead-container" class="yt-grid-box yt-base-gutter"><div id="yt-masthead"><div class="yt-masthead-logo-container">
  <a id="logo-container" href="{{MAIN_URL}}/home" title="YouTube home" class="spf-link"><img id="logo" src="{{MAIN_URL}}/assets/images/pixel-vfl3z5WfW.gif" alt="YouTube home"></a>
  <div id="appbar-guide-button-container"><button class="yt-uix-button yt-uix-button-size-default yt-uix-button-text yt-uix-button-empty yt-uix-button-has-icon appbar-guide-toggle" type="button" id="appbar-guide-button" aria-label="Guide"><span class="yt-uix-button-icon-wrapper"><img src="{{MAIN_URL}}/assets/images/pixel-vfl3z5WfW.gif" class="yt-uix-button-icon yt-uix-button-icon-appbar-guide"></span></button></div>
</div>
<div id="yt-masthead-signin"><button class="yt-uix-button yt-uix-button-size-default yt-uix-button-primary" type="button" onclick="window.location.href='{{MAIN_URL}}/auth'" href="{{MAIN_URL}}/auth"><span class="yt-uix-button-content">Sign in</span></button></div>
<div id="yt-masthead-content">
<form id="masthead-search" class="search-form consolidated-form" action="{{MAIN_URL}}/results" method="GET">
  <button class="yt-uix-button yt-uix-button-size-default yt-uix-button-default search-btn-component search-button" type="submit" dir="ltr" id="search-btn" tabindex="2"><span class="yt-uix-button-content">Search</span></button>
  <div id="masthead-search-terms" class="masthead-search-terms-border" dir="ltr">
    <label>
      <input id="masthead-search-term" autocomplete="off" class="search-term yt-uix-form-input-bidi" name="search_query" value="{{SEARCH_QUERY}}" type="text" tabindex="1" title="Search" placeholder="Search">
    </label>
  </div>
</form></div></div></div>
<div id="masthead-appbar-container" class="clearfix"><div id="masthead-appbar"><div id="appbar-content" class=""></div></div></div>
