*,
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  overflow: hidden;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.ie-fullscreen,
body.ie-fullscreen {
  overflow: hidden !important;
  position: fixed !important;
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  background: black !important;
}

html.ie-fullscreen body>* {
  display: none !important;
}

html.ie-fullscreen body .video-container {
  display: block !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  z-index: 9999 !important;
  background: black !important;
  margin: 0 !important;
  padding: 0 !important;
}

html.ie-fullscreen body .video-container video {
  width: 100% !important;
  height: 100% !important;
  object-fit: contain !important;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  background-color: black;
}

.video-container.theater,
.video-container.full-screen {
  max-width: initial;
  width: 100%;
}

.video-container.theater {
  max-height: 90vh;
}

.video-container.full-screen {
  max-height: 100vh;
}

html.ie-fullscreen body .video-container.full-screen {
  max-width: 100vw !important;
  width: 100vw !important;
  height: 100vh !important;
  max-height: 100vh !important;
}

.ie-fullscreen {
  overflow: hidden !important;
}

.video-container.full-screen {
  width: 100vw !important;
  height: 100vh !important;
  max-width: 100% !important;
  max-height: 100% !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 9999 !important;
  background-color: black !important;
}

.full-screen video {
  width: 100% !important;
  height: 100% !important;
  object-fit: contain !important;
}

video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.video-controls-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  z-index: 100;
  opacity: 1;
  font-family: Arial, Helvetica, sans-serif;
  transition: opacity 150ms ease-in-out, transform 250ms ease-in-out;
  -webkit-transition: opacity 150ms ease-in-out, -webkit-transform 250ms ease-in-out;
  -ms-transition: opacity 150ms ease-in-out, -ms-transform 250ms ease-in-out;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  background: rgb(28, 28, 28);
  border-top: 2px solid #181818;
  padding-bottom: 2px;
}

.video-controls-container::before {
  display: none;
}

.video-container:hover .video-controls-container,
.video-container.paused .video-controls-container {
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  pointer-events: auto;
}

.video-controls-container {
  opacity: 1;
}

.video-container.hide-controls .video-controls-container {
  opacity: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  pointer-events: none;
}

.video-controls-container .controls {
  display: flex;
  padding: 4px 10px 6px;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  height: 34px;
  position: relative;
}

.video-controls-container .controls>* {
  margin-right: .5rem;
}

.video-controls-container .controls>*:last-child {
  margin-right: 0;
}

.video-controls-container .controls button {
  background: none;
  border: none;
  color: inherit;
  padding: 0;
  height: 30px;
  width: 30px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  opacity: .85;
  transition: filter 0.5s;
  position: relative;
  bottom: 0;
}

.video-controls-container .controls button:hover {
  filter: brightness(1.15);
}

.video-controls-container .controls button.full-screen-btn {
  height: 34px;
  width: 34px;
}

.video-container.paused .pause-icon {
  display: none;
}

.video-container:not(.paused) .play-icon {
  display: none;
}

.video-container.theater .tall {
  display: none;
}

.video-container:not(.theater) .wide {
  display: none;
}

/* Hide open icon when in fullscreen mode */
.video-container.full-screen .open,
html.ie-fullscreen body .video-container .open {
  display: none !important;
}

/* Hide close icon when NOT in fullscreen mode */
.video-container:not(.full-screen) .close {
  display: none !important;
}



.volume-high-icon,
.volume-low-icon,
.volume-muted-icon {
  display: none;
}

.video-container[data-volume-level="high"] .volume-high-icon {
  display: block;
}

.volume-slider {
  width: 0;
  transform-origin: left;
  transform: scaleX(0);
  transition: width 150ms ease-in-out, transform 150ms ease-in-out;
  position: absolute;
  margin-top: -5.9px;
  background: #ddd;
  height: 14px;
  width: 5px;
  top: 37.5%;
}

.volume-container:hover .volume-slider,
.volume-slider:focus-within {
  width: 46px;
  transform: scaleX(1);
}

.volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 5px;
  height: 14px;
  background: #ddd;
  cursor: pointer;
}

.volume-slider::-moz-range-thumb {
  width: 5px;
  height: 14px;
  background: #ddd;
  cursor: pointer;
  border: none;
  border-radius: 0;
}

.video-container[data-volume-level="low"] .volume-low-icon {
  display: block;
}

.video-container[data-volume-level="muted"] .volume-muted-icon {
  display: block;
}

.volume-container {
  display: flex;
  align-items: center;
}

.duration-container {
  display: flex;
  align-items: center;
  padding: 0 6px 0 10px;
  margin-top: 0;
  font-size: 12px;
  height: 32px;
  line-height: 32px;
  flex-grow: 1;
  color: #969696;
}

.video-container.captions .captions-btn {
  border-bottom: 3px solid red;
}

.video-controls-container .controls button.wide-btn {
  width: 55px;
}

.timeline-container {
  height: 10px;
  margin: -6px 0 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  pointer-events: auto;
  position: relative;
  width: 100%;
}

.timeline {
  background: rgb(66, 66, 66);
  height: 4px;
  width: 100%;
  position: relative;
  cursor: pointer;
  margin-top: 0;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #b91f1f;
  display: none;
}

.timeline::after {
  content: '';
  display: block;
  position: absolute;
  width: 7em;
  height: 100%;
  margin-top: -10px;
  right: 0;
  bottom: 0px;
  transform: scaleY(.6);
}

.timeline .thumb-indicator {
  position: absolute;
  width: 18px;
  height: 18px;
  background: url("/assets/images/scrubber.png") no-repeat;
  background-position: 0px 0px;
  background-size: 18px;
  top: 0;
  left: 0;
  transform: translate(-50%, 0);
  pointer-events: none;
  margin-top: -7.5px;
}

.timeline .preview-img {
  display: none !important;
}

.thumbnail-img {
  display: none !important;
}

.video-container.scrubbing .thumbnail-img {
  display: block;
}

.video-container.scrubbing .preview-img,
.timeline-container:hover .preview-img {
  display: block;
}

.video-container.scrubbing .timeline {
  height: 4px;
  margin-bottom: 0;
}

.timeline:hover {
  height: 4px;
  margin-bottom: 0;
}

.video-container.scrubbing .timeline::after,
.timeline:hover::after {
  transform: scaleY(1);
}

.video-container.scrubbing .thumb-indicator {
  background-position: 0px 0px;
  background-size: 18px;
  margin-top: -7.5px;
}

.timeline:hover .thumb-indicator {
  background-position: 0px 0px;
  background-size: 18px;
  margin-top: -7.5px;
}

.current-time {
  color: #fff !important;
  text-shadow: none;
  padding-right: 4px;
}

.total-time {
  padding-left: 3px;
  color: #969696 !important;
  text-shadow: none;
}
