name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          # --- x64 builds ---
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            artifact_name: ytapilegacy-linux-x64

          - os: windows-latest
            target: x86_64-pc-windows-msvc
            artifact_name: ytapilegacy-windows-x64

          # --- x32 builds ---
          - os: ubuntu-latest
            target: i686-unknown-linux-gnu
            artifact_name: ytapilegacy-linux-x32

          - os: windows-latest
            target: i686-pc-windows-msvc
            artifact_name: ytapilegacy-windows-x32

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust target
        run: rustup target add ${{ matrix.target }}

      - name: Build
        run: cargo build --release --target ${{ matrix.target }}

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.artifact_name }}
          path: target/${{ matrix.target }}/release/
