name: Rust CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4

    - name: Set up Rust
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        override: true

    - name: Build
      run: cargo build --release

    - name: Package artifact
      run: |
        if [[ "${{ matrix.os }}" == "windows-latest" ]]; then
          powershell Compress-Archive -Path target\release\yt-api-legacy.exe -DestinationPath yt-api-legacy-windows.zip
        else
          tar -czf yt-api-legacy-linux.tar.gz -C target/release yt-api-legacy
        fi

    - name: Upload build artifact
      uses: actions/upload-artifact@v4
      with:
        name: yt-api-legacy-${{ matrix.os }}
        path: |
          yt-api-legacy-windows.zip
          yt-api-legacy-linux.tar.gz
