name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            target: i686-unknown-linux-gnu
            artifact_name: ytapilegacy-linux-x86
            bin_path: target/i686-unknown-linux-gnu/release/ytapilegacy

          - os: windows-latest
            target: i686-pc-windows-msvc
            artifact_name: ytapilegacy-windows-x86
            bin_path: target/i686-pc-windows-msvc/release/ytapilegacy.exe

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust target
        run: rustup target add ${{ matrix.target }}

      - name: Build
        run: cargo build --release --target ${{ matrix.target }}

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.artifact_name }}
          path: ${{ matrix.bin_path }}
